#doc {
  width: 1000px;
  margin: 0 auto;
}

#hd {
  height: 20px;
}

.form label {
  display: block;
  margin-bottom : 1em;
}

canvas {
  position: absolute;
}

.wattdepot-tt {
  border: 1px solid #ccc;
  background : #eee;
  padding : 5px;
  border-radius : 5px;
  font-size : 11px;
}